# django
DEBUG=False

SECRET_KEY=your-secret-key-here

ALLOWED_HOSTS=localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8001

# allauth
SOCIALACCOUNT_ENABLED=False # default, set to True if you want to enable social account login
GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here # i swapped them and spend 2 hours debugging, dont do that haha XD

# database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=your_db_name
DB_USER=your_postgres_user
DB_PASSWORD=your_postgres_password
DB_HOST=your_host
DB_PORT=5432

# postgres
POSTGRES_DB=your_db_name
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password